<html lang='en'>
<head>
  <meta charset='utf-8'>
  <script src='../static/client.js'></script>
</head>
<body>
  <div class='no-display'>
    <input id='file-input'
           class='no-display'
           type='file'
           name='file'
           accept='image/*'
           onchange='showPicked(this)'>
  </div>
  <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
  <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
  <div id='image-canvas' style="position: relative;">
    <img id='image-picked' class='no-display' alt='Chosen Image' >
  </div>
</body>
</html>
